<!-- TODO #2 Add AppSettings -->
<appSettings>
  <!-- Security Roles -->
  <add key="startupRoles" value="Administrators;Customers;Employees;RegisteredUsers" />
  <!-- Website Administrator Credentials -->
  <add key="adminUserName" value="Webmaster" />
  <add key="adminEmail" value="Webmaster@chinook.ca" />
  <add key="adminPassword" value="Pa$$w0rd" />
  <add key="adminRole" value="Administrators" />
  <!-- Customer Credentials -->
  <add key="customerId" value="4" />
  <add key="customerUserName" value="HansenB" />
  <add key="customerEmail" value="bjon.hansen@yahoo.no" />
  <add key="customerPassword" value="Pa$$w0rd" />
  <add key="customerRole" value="Customers" />
  <!-- Employee Credentials -->
  <add key="employeeId" value="3" />
  <add key="employeeUserName" value="JPeacock" />
  <add key="employeeEmail" value="jane@chinookcorp.com" />
  <add key="employeePassword" value="Pa$$w0rd" />
  <add key="employeeRole" value="Employees" />
  <!-- Other User Defaults -->
  <add key="defaultRole" value="RegisteredUsers" />
  <add key="newUserPassword" value="Pa$$w0rd" />
</appSettings>
